@import "tailwindcss";

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  @keyframes scrolling-ticker {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .animate-scrolling-ticker {
    animation: scrolling-ticker 120s linear infinite;
  }
}
